/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  font-family: 'Lato', sans-serif;
  padding: 5px;
  font-size: 18px;
  margin: 0;
  color: white;
  background-color: #0F294C;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    



  #copyright
  {
    overflow: hidden;
    padding: 1em;
    border-top: 1px solid rgba(255,255,255,0.08); 
    background-color: black;
    width: 100%;
  }
  
  #copyright p1
  {
    text-align: ;
    font-size: -1em;
    color: rgba(255,255,255,0.5);
    background-color: black;
  }





.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
