/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  font-family: 'Lato', sans-serif;
  padding: padding: 0px 5px 5px 5px;
  font-size: 18px;
  margin: 0;
  color: white;
  background-color: #0F294C;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#111;
    overflow-x: hidden;
    transition: 0.0s;
    padding-top: 10px;
}

.sidenav a {
    padding: 2px 8px 8px 30px;
    text-decoration: none;
    font-size: 15px;
    color: #818181 ;          
    display: block;
    transition: 0.2s;
}

.sidenav a:hover {
    color: #f1f1f1;  
}

.sidenav .active{
  color:red;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 00px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 20px;}
}






.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.responsive{
 width: 100%;
 max-width:100%;
 height: 200px;
}



